
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    
}
header{
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #D3D4D8;
    width: 100%;
    
}
.center{
    
    align-items: center;
    justify-items: center;
}
.container-tabuleiro {
   display: flex;
   max-width: 250px;
   flex-wrap: wrap;
     
}
.tabuleiro {
    width: 40px;
    height: 40px;
    border: solid 1.5px #d3d6da;
    color: #000000;
    box-sizing: border-box;
    display: flex;
    margin: 2px;
    font-family: 'Inter', sans-serif;
    
}
.container-teclado{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    

}
.teclado{
    display: flex;
    display: block;
    text-align: center;
    width: 430px;
    margin-top: 10px;
   margin-right: 40px;
}
.letras{
    box-sizing: border-box;
    margin: 0px 0px 5px ;
    height: 40px;
    width: 28px;
    color: #000000;
    background-color: #D3D4D8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
        
}
.enter, .ctrl {
    width: 50px;
    height: 40px;
    background-color: #D3D4D8;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}
