

body {
    margin: 0;
    padding: 0;
}
.container-tabuleiro {
    padding: 100px;
    
    
}
.tabuleiro{

    width: 64px;
    height: 64px;
    background-color: #d3d6da;
    line-height: 64px;
    color: #fff;
    text-align: center;
    margin: 1px 1px 5px 1px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container-teclado{
   display: flex;;
}
.teclado{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    display: block;
    text-align: center;
    align-items: center;
    width: 430px;
    margin-top: 10px;
    padding: 10px;
    
    
}
.letras, .titulo{
    margin: 0px 0px 5px ;
    height: 40px;
    width: 30px;
    color: #000000;
    background-color: #d3d6da;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
}
.enter, .ctrl {
    width: 50px;
    height: 40px;
    background-color: #d3d6da;
    border: none;
    border-radius: 5px;
}
